@charset "utf-8";
/* 전체 스타일 */
*{margin:0 auto; padding:0;}
li{list-style:none;}
a{text-decoration:none;}

/* 스킵 내비게이션 */
#skip{z-index:4;position:relative;width:100%;height:auto;font-size:0;}
#skip li{width:100%;height:auto;font-size:0;}
#skip li>a{display:block;padding:0;font-size:0;text-align:center;color:rgb(0, 0, 0);background:rgb(255, 255, 255);}
#skip li>a:focus{padding:20px;font-size:16px;}

/* 레이아웃  */
body{background:#ffffff;}
.all_contents{/* width:1020px; */ height:2100px; margin:0 auto; /* background:Red; */}
.header{/*width:1020px;*/ height:600px;  /*background:rgba(115,185,255,0.3);*/ position:relative;}
.body{width:1020px; height:1500px; 
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,0.25) 30%, rgba(255,255,255,0.3) 40%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.3) 60%, rgba(255,255,255,0.25) 70%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.25) 30%,rgba(255,255,255,0.3) 40%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.3) 60%,rgba(255,255,255,0.25) 70%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.25) 30%,rgba(255,255,255,0.3) 40%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.3) 60%,rgba(255,255,255,0.25) 70%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
 }
.body_top{width:1020px; height:500px; /* background:rgba(220,115,255,0.3) */  }
.body_middle{width:1020px; height:400px; padding-top:10px; border-top:2px solid #f2b4ac; /* background:rgba(255,92,38,0.3) */ }
.body_bottom{width:1020px; height:400px; padding-top:10px; border-top:2px solid #f2b4ac;}
.footer{/* width:1020px; */ height:300px;  /* background:rgba(128,0,255,0.3) */ }

/* header */
.top_mini_menu{width:1020px; height:50px; display: flex; /*background:#8c2300;*/ }
.top_mini_menu ul{ height:50px;}
.top_mini_menu li{float:left;   color:#f2b4ac; line-height:45px;}
.top_mini_menu li a{color:#f2b4ac; font-size: 12px; margin-left: 10px;}
/*.top_mini_menu li:hover a {border-bottom:1px solid #fff; padding-bottom: 2px;}*/
.bg{width:100%; height:0; background:none; position:absolute; top:0; left:0; z-index: -1;}

.top_mini_menu:hover .bg{height:50px; transition:.3s; }
.top_mini_menu ul:hover a{cursor:pointer}
.top_mini_menu li a:active{ color:rgb(160, 160, 160);}
.top_mini_menu li a:hover{border-bottom:1px solid rgb(160, 160, 160); color:rgb(160, 160, 160); padding-bottom:2px;}

/* arrow */

.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 100px;
  width: 120px;
  height: 180px;
  font-size: 50px;
  color:#f2b4ac; 
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up .arrow-icon{text-align: center; font-size: 75px; }
.play-icon{color:#f2b4ac;}
.play-icon #pbtn{margin-left: 3px; color:#f2b4ac;}
.play-icon #pbtn i{display: none;}
.play-icon #pbtn i.visible{display: inline;}
.play-icon {font-size: 12px; width:77px;}
.play-icon button{background:none; border:none; padding:4px; color:#f2b4ac;}
.play-icon button:active{background:none; border:none; color:#f2b4ac; padding:4px;}
.skip_btn a i{color:#f2b4ac;}

.disc{
  animation: rotate_image 10s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image{
100% {
    transform: rotate(360deg);
  }
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
.coch{color:rgb(253, 48, 48)}

.header_main{width:1020px; height:550px;  /*background:yellow;*/  text-align:center;}
/*.header_main img{width:300px; height:120px; margin-top:150px; }*/
@keyframes logoanimation {
    0% {
      top:0px;
    }
    to {
      top:20px;
    } 
  }
  
  .header_main img{
    position:relative;
    left:0;
    top:0;
    width:300px; height:120px; margin-top:150px;
    animation:logoanimation 1s ease-in Infinite Alternate;
  }
.skip_btn{width:120px; height:30px; /*background:rgba(83, 83, 83, 0.192);*/ margin-top:10px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);}
.skip_btn a{font-size: 14px; margin-left:32px; margin-top:5px; float:left; color:rgb(109, 109, 109); text-decoration: none; }

.header_main .music_search{width:1020px; height:45px; /* background:Red;*/  margin-top:50px;}
.header_main .music_search input{
  width:700px; 
  height:50px; 
  text-align: center;
  border-radius: 30px;
  background:none; 
  border:none;
  box-shadow: 1px 1px 5px 1px #f2b4ac;
  padding-left:5px; 
  font-size: 16px;
}
.header_main .music_search input:focus {outline:none;}
.header_main .music_search input::placeholder{
  font-size: 16px;
  color:rgb(160, 160, 160);
}
.header_main p{
  color:#f2b4ac;
  font-size: 16px; /*background:rgba(255, 255, 255, .8);*/ width:130px; font-weight:bold;
  margin-top: 100px;
}
#search_btn{background:none; border:none; font-size: 20px; color:rgb(0, 0, 0);}
#search_btn:active{background:none; border:none; color:rgb(165, 253, 255);}

.header_main  #content {margin-top: 5px; padding: 10px; display: flex; justify-content: center; }
.header_main  #content #rank-list {overflow: hidden; width:245px; height: 20px; margin: 0 auto; text-align: center; position: relative; }
.header_main  #content #rank-list dt { display: none; }
.header_main  #content #rank-list ul { position: absolute; top: 0; left:0; margin: 0; padding: 0; list-style-type: none; }
.header_main  #content #rank-list li { height: 20px; line-height: 20px; } 
.header_main  #content #rank-list a { color:rgb(109, 109, 109); text-decoration: none; font-size: 12px;}
.header_main  #content #rank-list a:hover { text-decoration: underline; }


/* body_top (body 태그 아니고 div class = body) */
.body_top .nav{width:1020px; height:50px; background:#f2b4ac; text-align:center; border-radius: 20px;}
.body_top .nav ul{width:1020px; height:50px; display: flex;}
.body_top .nav li{float:left; line-height:50px; /* background:blue; */}
.body_top .nav li a{color:rgb(255, 255, 255); font-size: 16px;}
/* .body_top .nav li:hover a{border-top:1px solid rgb(95, 81, 255); padding-top: 2px; color:rgb(95, 81, 255);} */

.mob_nav{display:none;}

.body_top .login_out{width:185px; height:120px; margin-top:60px; margin-left:30px; float:left;}
.body_top .login_in{width:175px; height:100px; border-radius: 10px; box-shadow: 2px 2px 5px 3px rgb(0 0 0 / 20%); display:table; float:left; background: rgba(255, 255, 255, 0.2);}

.body_top .login_in input{width:100px; height:30px; margin-left:39px; margin-top: 13px; text-align: center; color:rgb(255, 255, 255); font-weight:bold; background: #f2b4ac; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); border: none; border-radius: 5px;}
.body_top .login_in input::placeholder{color:#fff;}
.body_top .login_in input:focus {outline:none;}


/*.body_top .login_in p{display:table-cell; vertical-align:middle; color:#fff; text-align:center; font-size:20px;}*/
.body_top .login_out h6{ color:rgb(160, 160, 160);text-align:center;}
.body_top .login_out h6 a{ color:rgb(160, 160, 160); text-decoration:none; margin-top: 5px; display: inline-block; }
.body_top .login_out h4{display:none;}
/*.body_top .login_in:hover{border:2px solid rgb(0, 0, 0); border-radius:10px; background:rgba(255, 255, 255, 0.3);}*/

.body_top .banner_box_out_1{width:200px; height:280px; float:left; margin-top:33px; margin-left:50px; /* background:Red; */}
.body_top .banner_box_out_2{width:200px; height:280px; float:left; margin-top:33px; margin-left:10px; /* background:Red; */}
.body_top .banner_box_out_1 .banner_box_in_1{width:200px; height:270px; float:left; }
.body_top .banner_box_out_2 .banner_box_in_2{width:200px; height:270px; float:left; }
.btn_group{float:right;}
.body_top .banner_box_out_1 p{display:none;}




.body_top .melon_chart{width:250px; height:310px; /* border:2px solid #fff; */ float:left; margin-top:30px; margin-left:50px; }
.body_top .melon_chart p:nth-child(2){float:left; color:rgb(255, 255, 255); font-size:16px; margin-top:10px;  padding:10px;}
.body_top .melon_chart p:nth-child(3){ float:right; color:rgb(255, 255, 255); font-size:12px; margin-top:10px;  padding:10px;}



.body_top .melon_chart  #content2 {margin-top: 5px; background:  #f2b4ac; border-radius: 10px; border:1px solid #f2b4ac;}
.body_top .melon_chart  #content2 #rank-list2 {overflow: hidden; width: 246px; height: 300px; margin: 0 auto; padding:20px; box-sizing: border-box; background: rgb(255, 255, 255); border-radius: 0 0 10px 10px;}
.body_top .melon_chart  #content2 #rank-list2 dt { display: none; }
.body_top .melon_chart  #content2 #rank-list2 dd { position: relative; margin: 0; }
.body_top .melon_chart  #content2 #rank-list2 ul { position: absolute; top: 0; left: 0; margin: 0; padding: 0; list-style-type: none; width:250px;}
.body_top .melon_chart  #content2 #rank-list2 li { height: 30px;  } 
.body_top .melon_chart  #content2 #rank-list2 a {color:#d5938a; text-decoration: none; font-size: 12px;}
.body_top .melon_chart  #content2 #rank-list2 a span{position: absolute; left: 135px; margin-top:5px}
.body_top .melon_chart  #content2 #rank-list2 a:hover { text-decoration: underline; }


/* body_middle */
.body_middle .album_list{width:1020px; height:163px; float:left;  /* background:blue; */  margin-top:50px; overflow: hidden;}
.body_middle .album_list ul{width:1927px; height:156px;  /* background:pink; */  margin:0 auto; }
.body_middle .album_list li{float:left; overflow:hidden; margin-right: 12px; position: relative;}
.body_middle .album_list li span{width:156px; height:40px; color:rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.3); position:absolute; top:106px; left:0; font-size: 11px; text-align: center; padding-top: 10px;}

.body_middle .album_list li:hover span{display:none; transition: .6s;}
.body_middle .album_list li:not(:first-child){margin-left:5px;}
.body_middle h1{float:left; font-size:20px; color:#f2b4ac;}
.body_middle p{float:right; font-size:20px; color:#f2b4ac;}
.body_middle p a{color:#f2b4ac; text-decoration:none;}

/* body_bottom */
.body_bottom .trand_list{width:1020px; height:432px; float:left; /* background:Red; */ margin-top:30px;}
.body_bottom .trand_list ul{ height:148px; /* background:blue; */ margin-bottom:5px;}
.body_bottom .trand_list li{float:left; transition: all .2s ease-in;}
.body_bottom .trand_list .sub_img_box li:hover{margin-top:5px; transition: all .2s ease-in;}
.body_bottom .trand_list li:not(:first-child){margin-left:40px;}
.body_bottom .trand_list .sub_text_box{ height:58px; margin-bottom:10px; margin-top:10px;/*  background:pink; */}
.body_bottom .trand_list .sub_text_box li{width:223px; height:55px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356); float:left; }
.body_bottom .trand_list .sub_text_box li a{color:rgb(0, 0, 0); text-decoration:none; font-size:12px; display:inline-block; margin-left:5px;}
.body_bottom .trand_list .sub_text_box li span{color:#000000; font-size:14px;}
.body_bottom h1{float:left; font-size:20px; color:#f2b4ac;}
.body_bottom p{float:right; font-size:20px; color:#f2b4ac;}
.body_bottom p a{color:#f2b4ac; text-decoration:none;}

/* footer */
.footer .footer_line1 {width:100%; height:50px; border-bottom:1px solid #c78c84; /* background:blue; */}
.footer .footer_line1 .footer_line2{width:1020px; height:50px; border-top:1px solid #c78c84; }
.footer .footer_line1 .footer_line2 p{line-height:50px; }
.footer .footer_line1 .footer_line2 a{color:#c78c84;  text-decoration:none; }
.footer .footer_text{ width:1020px; height:200px; /* background:pink; */ position:relative;}
.footer .footer_text ul{position:absolute; right:0; top:10px;}
.footer .footer_text li{float:left; padding-right:10px;}
.footer .footer_text li a{color:#c78c84;  text-decoration:none;}
.footer .footer_text .ad{position:absolute; left:0; top:90px;/*  background:blue; */}
.footer .footer_text .ad li{float:left; padding-right:10px; }
.footer .footer_text .ad li a{color:#c78c84; text-decoration:none; font-size:10px;}
.footer .footer_text p{position:absolute; left:0; top:120px; /* background:blue; */ font-size:12px; color:#f2b4ac;}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}
 
/* 눈송이 */

.snowflakes{display: none;}
/* @-webkit-keyframes snowflakes-fall{
  0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}
@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}
.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;
  -webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;
  -webkit-animation-iteration-count:infinite,infinite;
  -webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
  .snowflake:nth-of-type(1){left:5%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:10%;
    -webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:15%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
    .snowflake:nth-of-type(4){left:20%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:25%;
      -webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:30%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
      .snowflake:nth-of-type(7){left:35%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
      .snowflake:nth-of-type(8){left:40%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
      .snowflake:nth-of-type(9){left:45%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
      .snowflake:nth-of-type(10){left:50%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
      .snowflake:nth-of-type(11){left:55%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
      .snowflake:nth-of-type(12){left:60%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
      .snowflake:nth-of-type(13){left:65%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
      .snowflake:nth-of-type(14){left:70%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
      .snowflake:nth-of-type(15){left:75%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
      .snowflake:nth-of-type(16){left:80%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
      .snowflake:nth-of-type(17){left:85%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
      .snowflake:nth-of-type(18){left:90%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
      .snowflake:nth-of-type(19){left:95%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s} */

      /*이미지 슬라이더1*/
      section{width:200px; margin:0; float:left; margin-left: 20px;}
      .slider1 {
        list-style:none;
        width:200px;
        height:270px;
        overflow:hidden;
      }
      .slider1:after {
        content:'';
        display:block;
        clear:both;
      }
      .slider1 li {
        width: 200px;;
        height:270px;
        opacity:0;
      }
      .slider1 li div {
        width:100%;
        height:100%;
        background-size:cover;
        position:relative;
      }
      .slider1 li dl {
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        left:20px;
      }
      .slider1 li .right {
        left:auto;
        right:20px;
        text-align:right;
      }
      .slider1 li dt {
        color:#fff;
        font-size:3rem;
        text-shadow:1px 1px 10px #444;
      }
      .slider1 li dd {
        color:#fff;
        text-shadow:1px 1px 10px #444;
      }
      .btn {
        margin-top: 38px;
        width:200px;
        text-align:right;
      }
      .btn button {
        color:#f2b4ac;
        background:none;
        border:none;
        cursor:pointer;
      }

      /*이미지 슬라이더2*/
      section{width:200px; margin:0; float:left; margin-left: 40px;}
      .slider2 {
        list-style:none;
        width:200px;
        height:270px;
        overflow:hidden;
      }
      .slider2:after {
        content:'';
        display:block;
        clear:both;
      }
      .slider2 li {
        width: 200px;;
        height:270px;

      }
      .slider2 li div {
        width:100%;
        height:100%;
        background-size:cover;
        position:relative;
      }
      .slider2 li dl {
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        left:20px;
      }
      .slider2 li .right {
        left:auto;
        right:20px;
        text-align:right;
      }
      .slider2 li dt {
        color:rgb(0, 0, 0);
        font-size:3rem;
        text-shadow:1px 1px 10px #444;
      }
      .slider2 li dd {
        color:rgb(0, 0, 0);
        text-shadow:1px 1px 10px #444;
      }
      .btn2 {
        margin-top: 38px;
        width:200px;
        text-align:right;
      }
      .btn2 button {
        color:#f2b4ac;
        background:none;
        border:none;
        cursor:pointer;
      }
    